= form_for(@user, remote: true, html: { class: 'form-horizontal' }) do |f|
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
        prohibited this request from being saved:
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message

  .form-group.required
    %label.col-sm-2.control-label First Name
    .col-sm-10
      = f.text_field :first_name, placeholder: 'First Name', class: 'form-control'
  .form-group
    %label.col-sm-2.control-label Last Name
    .col-sm-10
      = f.text_field :last_name, placeholder: 'Last Name', class: 'form-control'
  .form-group.required
    %label.col-sm-2.control-label Email
    .col-sm-10
      = f.text_field :email, placeholder: 'Email', class: 'form-control'
  .form-group
    %label.col-sm-2.control-label Password
    .col-sm-10
      = f.password_field :password, class: 'form-control'
  .form-group.required
    %label.col-sm-2.control-label Role
    .col-sm-10
      = f.select :role, User::ROLES, {}, { class: 'form-control' }
  .form-group.required
    %label.col-sm-2.control-label Department
    .col-sm-10
      = f.select :department_id, accessible_departments_for_select, {}, { class: 'form-control' }
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Save', class: 'btn btn-primary btn-xs'
      = link_to 'Cancel', user_path(user), remote: true, class: 'btn btn-default btn-xs' unless user.new_record?
