.page-right-container
  - if notice.present?
    %p#notice.alert.alert-success= notice
  %p
    %strong First Name:
    = user.first_name
  %p
    %strong Last Name:
    = user.last_name
  %p
    %strong Email:
    = user.email
  %p
    %strong Department:
    = user.department_id.present? ? Department.find(user.department_id).try(:name) : '-'
  %p
    %strong Role:
    = user.role
  = link_to 'Edit', edit_user_path(user), remote: true, class: 'btn btn-primary btn-xs'
  = link_to 'Delete', user_path(user), remote: true, method: :delete, class: 'btn btn-danger btn-xs' unless current_user.id == user.id
