= form_for(department, remote: true, html: { class: 'form-horizontal' }) do |f|
  - if department.errors.any?
    #error_explanation
      %h2
        = pluralize(department.errors.count, "error")
        prohibited this department from being saved:
      %ul
        - department.errors.full_messages.each do |message|
          %li= message

  .form-group.required
    %label.col-sm-2.control-label Title
    .col-sm-10
      = f.text_field :name, placeholder: 'Name', class: 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Save', class: 'btn btn-primary btn-xs'
      = link_to 'Cancel', department_path(department), remote: true, class: 'btn btn-default btn-xs' unless department.new_record?
