= form_for(request, remote: true, html: { class: 'form-horizontal' }) do |f|
  - if request.errors.any?
    #error_explanation
      %h2
        = pluralize(request.errors.count, "error")
        prohibited this request from being saved:
      %ul
        - request.errors.full_messages.each do |message|
          %li= message

  .form-group.required
    %label.col-sm-2.control-label Title
    .col-sm-10
      = f.text_field :title, placeholder: 'Title', class: 'form-control'
  .form-group.required
    %label.col-sm-2.control-label Description
    .col-sm-10
      = f.text_area :description, placeholder: 'Description', class: 'form-control'
  .form-group.required
    %label.col-sm-2.control-label Status
    .col-sm-10
      = f.select :status, Request::STATUSES, {}, { class: 'form-control' }
  .form-group.required
    %label.col-sm-2.control-label Department
    .col-sm-10
      = f.select :department_id, Department.all.collect{|dept| [dept.name, dept.id]}, {}, { class: 'form-control' }
  .form-group.required
    %label.col-sm-2.control-label Requested By
    .col-sm-10
      = f.select :requested_by, User.all.collect{|user| [user.full_name, user.id]}, {}, { class: 'form-control' }
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Save', class: 'btn btn-primary btn-xs'
      = link_to 'Cancel', request_path(request), remote: true, class: 'btn btn-default btn-xs' unless request.new_record?
