<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @request.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @request.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @request.status %>
</p>

<p>
  <strong>Unique:</strong>
  <%= @request.unique_id %>
</p>

<p>
  <strong>Department:</strong>
  <%= @request.department_id %>
</p>

<p>
  <strong>Requested by:</strong>
  <%= @request.requested_by %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @request.updated_by %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
