%nav.navbar.navbar-inverse
  .container-fluid
    - if user_signed_in?
      .navbar-header
        %button.navbar-toggle{"data-target" => "#myNavbar", "data-toggle" => "collapse", :type => "button"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to 'Home', requests_path, class: 'navbar-brand'
      #myNavbar.collapse.navbar-collapse
        %ul.nav.navbar-nav.header-nav
          %li.active
            = link_to "Requests", requests_path
          %li
            = link_to "Profile", user_path(current_user), remote: true
          - if current_user.admin?
            %li
              = link_to "Departments", departments_path, remote: true
            %li
              = link_to "Users", users_path, remote: true
        %ul.nav.navbar-nav.navbar-right
          %li
            = link_to "<span class='glyphicon glyphicon-log-out'></span> Logout".html_safe,
              destroy_user_session_path, method: :delete
